:root{
    --theme-color: #ea8317
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: #363636;
    color: aliceblue;
    align-items: center;
}

.navbar h2{
    font-weight: 600;
}

.navbar h2 span{
    font-weight: 600;
    color: var(--theme-color);
}

.navbar .shop, .cartIcon{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 1rem 0.5rem 1rem;
}
