.heading{
    text-align: center;
    color: var(--theme-color);
    margin-top: 1rem;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
}

.card{
    border: 1px solid #363636;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #363636;
    color: aliceblue;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 0 1rem var(--theme-color);
    scale: 1.01;
}

.card .image{
    background: transparent;
    margin: 1rem;
}

.card .category{
    margin-bottom: 5px;
}

.card .price{
    margin: 0.5rem;
}

.card .btn{
    border-radius: 1rem;
    background-color: var(--theme-color);
    color: aliceblue;
    padding: 0.5rem;
    outline: none;
    border: none;
    margin: 0.5rem;
    transition: 0.3s;
}

.card .btn:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: var(--theme-color);
}

.card .btn:disabled{
    background-color: aliceblue;
    color: var(--theme-color);
}